#content{
    max-width: 1600px;
    margin:0 auto;
    text-align: center;
}
nav a
#hero-msg h1, #hero-msg h4
.button-box
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: aliceblue;
    color:#9498b1;

}
header
{
    background-color: white;
    color:#879cb0;

}
nav a:hover{
    background-color: black;
    color:#ffffff;

}
.book, .join
{
    background-color: white;
    color:#879cb0;
}
.book:hover, .join:hover{
    background-color: aliceblue;
    color:#879cb0;
}

#background
{
    background-color: antiquewhite;
    color:#edbfc6;
}
.msg
{
    background-color: white;
    color: #98b6b6;
}
footer{
    background-color: whitesmoke;
    color:#98b6b6
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}
nav a
.book, .join
footer a{
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}   
footer p a:hover {
    text-decoration: underline;
}    
    