section {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
.block1{
  border: 2px solid black;
  width: 30%;
 margin-left: 0;
}
.block2{
  border: 2px solid rgb(0, 0, 0);
  width: 30%;
  margin-left: 15%;
}
.block3{
  border: 2px solid #000000;
  width: 30%;
  margin-left: 30%;
}
.block4{
  border: 2px solid hsl(0, 0%, 0%);
  width: 30%;
  margin-left: 45%;
}

.block4 p {
  text-align: justify;
}
.block1 p:nth-of-type(1),
.block2 p:nth-of-type(1),
.block3 p:nth-of-type(1) {
  text-align: left;
}

.block1 p:nth-of-type(2),
.block2 p:nth-of-type(2),
.block3 p:nth-of-type(2) {
  text-align: center;
}
.block1 p:nth-of-type(3),
.block2 p:nth-of-type(3),
.block3 p:nth-of-type(3){
  text-align: right;
}
.block4 p:nth-of-type(4) p {
  text-align: justify;
}