main, h1,p {
    text-align: center;
    width: 80%;
    margin: auto;
}
body{
    background-color: blue;
    text-align: center;
}
h1{
    font-size: 30em;
    color:white;

}
.rules{
    font-size: small;
    color:black;
}
.quote{
    font-size: medium;
    color:white;
}
.footer{
    font-size: xx-small;
    color:black
}
