main {
    text-align: center;
    width: 50;
    margin: auto;
}


body{
    background-color: blue;
    text-align: center;
    color:white
}

h1{
    font-size: 2.5em;
    color:white;
    margin: 30px auto;
    width: 80%;
}
h1 :hover{
    color:black;
}
h2{
    font-size: medium;
    color: white;
    margin:20px auto;
    width: 60%;
}
.rules{
    font-size: medium;
    color:black;
}
.quote{
    font-size: large;
    color:white;
}
.footer{
    font-size: xx-small;
    color:black
}
img {
  display: block;
  width: 250px;
  margin: 20px auto;
  border-radius: 8px;
  border: 3px solid white;
}
