main {
    max-width: 800px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


body{
    background-color: rgb(108, 108, 197);
    text-align: center;
    color:white
}

h1{
    display: block;
    font-size: 2.5em;
    color:white;
    margin: 30px auto;
    width: 80%;
}
h1:hover {
    color: black;
}
h2{
    display: inline;
    font-size: small;
    color: white;
    margin:20px auto;
    width: 60%;
}
.nelson{
    font-size: medium;
    color: white;
    text-align: center;
    font-style: oblique;
}
.rules {
  width: 520px;             /* try 520–640px */
  max-width: 90%;
  margin: 0 auto 1.5rem;    /* centers the list block */
  text-align: left;
  list-style-position: inside;  /* keeps numbers close to the text */
  line-height: 1.5;
}
.quote{
    display: block;
    font-size: large;
    color:white;
    text-align: center;
}
.footer {
    display: block;
    font-size: xx-small;
    color: black;
    text-align: center;
}
img {
  display: block;
  width: 250px;
  margin: 20px auto;
  border-radius: 8px;
  border: 3px solid white;
}
