section {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
.block1{
  border: 2px solid black;
}
section:nth-of-type(1) p {
  text-align: left;
}
section:nth-of-type(2) p {
  text-align: right;
}
section:nth-of-type(3) p {
  text-align: center;
}
section:nth-of-type(4) p {
  text-align: right;
}