.card{
    max-width: 300px;
    margin: 0 auto;
    border: radius 15px;
    overflow:hidden;
}
.comments{
    display:flex;
    justify-content: space-around;
    background-color: rgb(79, 79, 186);
    color:white;
    padding:10px 0;

}
h2 {
  font-weight: 700;
  color: #222;
}

p {
  color: #666;
  line-height: 1.4;
}
.card img {
  width: 100%;
  height: auto;
  display: block;
}
