.card{
    max-width: 300px;
    margin: 0 auto;
    border: radius 15px;
    overflow:hidden;
}
.footer{
    display:flex;
    justify-content: space-around;
    background-color: rgb(79, 79, 186);
    color:white;
    padding:10px 0;





}