body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;


}
.card{
    width: 300px;
    margin: 0 auto;
    border-radius: 15px;
    overflow:hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 6px 8px  rgba(4, 4, 4, 0.2);
}
.card img {
  width: 100%;
  height: auto;
  display: block;
}
.comments{
    display:flex;
    justify-content: center;
    background-color: rgb(79, 79, 186);
    color:white;
    padding:10px 0;
    grid-column: 1/3,1/3,1/3;


}
h1 {
  font-weight: 700;
  color: #222;
}

.paragraph {
  color: #666;
  line-height: 1.4;
}

.date{
    color:rgb(157, 157, 241)
    
}
