
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #ffffff;
  --secondary-color: #9498b1;
  --accent1-color: #879cb0;
  --accent2-color: #edbfc6;

  /* change the values below to your chosen font(s) */
  --heading-font: "Sometype Mono", Helvetica, sans-serif;
  --paragraph-font: "Lora", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #404647;   /* headlines on white */
  --headline-color-on-color: #2c3351;   /* headlines on color */
  --paragraph-color-on-white: #2c3351;  /* body on white */
  --paragraph-color-on-color: #2c3351;  /* body on color */
  --paragraph-background-color: #A7A9B8;
  --nav-background-color: #404647;      /* dark bar (keep) */
  --nav-link-color: #ffffff;             /* white text = high contrast */
  --nav-hover-background-color: #879cb0; /* your Accent 1 for hover */
  --nav-hover-link-color: #2c3351;       /* dark text on light hover */

}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em; 
  list-style-type: none;
  display: flex;
  gap: .5rem; justify-content: center; 
}


nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  color: var(--nav-link-color);             /* ensure visible text */
  transition: background-color .2s, color .2s;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
.img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  width: 250px;         /* consistent image width */
  height: auto;         /* keeps proportions */
  border-radius: 8px;   /* optional rounded corners */
}
