
main{
    display:grid;
    grid-template-rows: auto auto;
   grid-template-columns: repeat(2, 1fr);
    justify-items: center;  
}
h1 { 
    font-family:'Arial Black', Gadget, sans-serif;
    font-size: xx-large;
    align-self: center;
    font-style: oblique;
    position: relative;
    z-index: 1; /* Brings to front */
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-style: oblique;
    font-size: 30px;
    text-align: left;
    margin-left: 0;
    color: rgb(138, 14, 39);
    position: relative;
    z-index: 1; /* Brings to front */
}


